@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600,700&display=swap");
@import "Search-page";
@import "navbar";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: "Nunito";
}

