@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600,700&display=swap");
@import "navbar";
@import "freaquently";
@import "section-3";
@import "breadcrumb";
$font: "Nunito",sans-serif;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
